<div class="top-menu">

    <img class="logo"
         src="https://angular.io/assets/images/logos/angular/angular.svg">

</div>


<div class="courses">

    <div class="course-card">

        <div class="course-title">
            Angular Fundamentals
        </div>
        <img width="300" alt="Angular Logo"
             src="https://angular.io/assets/images/logos/angular/angular.svg">

        <div class="course-description">
          Una intro a angular.
        </div>

    </div>

</div>


